<div class="recipe-card">
  <% if recipe.image.attached? %>
    <%= image_tag recipe.image.variant(resize_to_limit: [300, 300]) %>
  <% end %>
  
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
  <p><%= simple_format(recipe.description.truncate(100)) %></p>
  
  <small>
    投稿者:
    <% if recipe.user.present? %>
      <% if user_signed_in? && current_user == recipe.user %>
        <%= link_to recipe.user.username, mypage_path %>
      <% else %>
        <%= link_to recipe.user.username, user_path(recipe.user) %>
      <% end %>
    <% else %>
      <span>不明なユーザー</span>
    <% end %>

    投稿日: <%= recipe.created_at.strftime("%Y年%m月%d日") %>
  </small>
</div>
