<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

      <h1 class="text-success mb-4">
        <i class="fas fa-user-edit fa-lg mr-2"></i>
        プロフィールの編集
      </h1>

      <%= form_with model: @user, local: true do |f| %>

        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h5><i class="fas fa-exclamation-circle mr-2"></i>
              <%= pluralize(@user.errors.count, "件") %>のエラーがあります
            </h5>
            <ul class="mb-0">
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :username, "ユーザー名", class: "font-weight-bold" %>
          <%= f.text_field :username, class: "form-control", placeholder: "ニックネームやお名前を入力" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス", class: "font-weight-bold" %>
          <%= f.email_field :email, class: "form-control", placeholder: "あなたのメールアドレス" %>
        </div>

        <div class="form-group">
          <%= f.label :profile, "自己紹介", class: "font-weight-bold" %>
          <%= f.text_area :profile, rows: 5, class: "form-control", placeholder: "好きなごはん、ひとことメッセージなど自由に書いてください" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "プロフィールを更新する", class: "btn btn-success px-4" %>
        </div>

      <% end %>

      <div class="text-center mt-4">
        <%= link_to user_path(@user), class: "btn btn-outline-secondary" do %>
          <i class="fas fa-arrow-left mr-1"></i> マイページに戻る
        <% end %>
      </div>

    </div>
  </div>
</div>
