<!-- app/views/layouts/admin.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>管理者ページ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/18b80b8bde.js" crossorigin="anonymous"></script>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to '管理者ダッシュボード', admin_root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="adminNavbar">
        <ul class="navbar-nav ml-auto">
          <!-- ユーザー管理（緑） -->
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link text-primary font-weight-bold" do %>
              <i class="fas fa-users"></i> ユーザー管理
            <% end %>
          </li>
          <!-- コメント管理（青） -->
          <li class="nav-item">
            <%= link_to admin_comments_path, class: "nav-link text-success font-weight-bold" do %>
              <i class="fas fa-comments"></i> コメント管理
            <% end %>
          </li>
          <!-- レビュー管理（オレンジ） -->
          <li class="nav-item">
            <%= link_to admin_reviews_path, class: "nav-link text-warning font-weight-bold" do %>
              <i class="fas fa-star"></i> レビュー管理
            <% end %>
          </li>
          <!-- ログアウト（白） -->
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light font-weight-bold" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
