<!-- app/views/layouts/admin.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>管理者ページ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body class="bg-light">

  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <%= link_to '管理者ダッシュボード', admin_users_path, class: 'navbar-brand' %>
      <div>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-sm btn-outline-light' %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
